html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Roboto+Flex&family=Roboto:wght@400;700&display=swap');

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ VARIABLES ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

:root {

/* colors: */
    --blue:#00329D;
    --white:#F6F6F6;
    --lightblue: #007EA79a;
    --hover-blue:#1453db;
    --gradient-main:linear-gradient(to bottom right, var(--blue), var(--white));

    --legacy-color-main:#4c2a85;
    --legacy-color-hover:#693bb2;
    --legacy-color-th:#9ccbdc;
    --legacy-color-td:rgb(142, 171, 222);
    --legacy-color-border: rgb(71, 127, 226);
    --legacy-color-navbar: #cd97ea70;
    --legacy-color-form: linear-gradient(to bottom, rgb(141, 141, 227,0.9), rgb(168, 116, 205,0.9));

/* fonts: */
    --tittle-font: 'Montserrat', sans-serif;
    --p-font: 'Roboto Flex', sans-serif;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/



body {
    /* background: linear-gradient(to bottom right, #4568dc,  #b06ab3); */
    background: linear-gradient(to bottom right, var(--blue), var(--white));
    font-family: var(--p-front);
}

h1 {
    margin:auto;
    color: var(--white);

}

.titulo-modal{
    margin:auto;
    color: #ffffff;
    text-shadow:#00000000;
}

.titulo {
    align-items: center;
    position: relative;
    padding-left: 200px; 
    background-color: #ffffff;
    border-radius: 40%;

}

.fecha_cierre {
    margin: 10px;
}


input {
    background-color: #d092f250;
    border: none;
    color: rgb(255, 255, 255);
}

label{
    color: rgb(255, 255, 255,0.8);
    margin: 10px;
    display: block;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 200;
    
}

::placeholder { 
color: rgb(247, 245, 245, 0.8);
opacity: 1; 
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    align-items: center;
}

input[type="submit"] {
    background-color: #4c2a85;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #693bb2;
}

button {
    background-color: var(--legacy-color-main);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: inline;
}

button:hover {
    background-color: var(--lightblue);
}


/* Esto es de la segunda pagina, login, originalmente: */

.link-empresas {
    max-width: 80%;
    position: relative;
    margin-top: 20%;
    margin: 20px auto;
    background-color: #cd97ea90;
    padding: 20px;
    border-radius: 15px ;
}

.link {
    background-color: #4c2a85;
    color: #ffffff;
    padding: 15px;
    border-radius: 5%;
    display: inline;

}

.link:hover {
    background-color: #693bb2;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■ TABLAS COMPANIES - USERS ■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

th{
    background-color:#9ccbdc;
    border-color:#389ee0;
    margin-bottom: 10%;
    padding: 5px;
}

td {
    background-color:rgb(142, 171, 222);
    border-color:rgb(71, 127, 226);
    padding: 5px;

}

.trIntern:hover, .trIntern:hover td, .trIntern:hover th{
    background-color:rgba(142, 171, 222,0.5);
    border-color:rgb(71, 127, 226);
    color: #FFF;
}

#th-1 {
    background-color:rgb(211, 230, 247);
    border-color:rgb(71, 127, 226);
    border-radius: 15px 0 0 15px;
    width: 40%;
}

#th-1:hover {
    background-color:rgba(156, 203, 220);
    border-color:rgb(71, 127, 226);
    color: #FFF;
   
}

.glow-up:hover {
    text-shadow: 0 0 10px #4c2a85, 0 0 20px #4c2a85, 0 0 40px #4c2a85, 0 0 70px #4c2a85, 0 0 100px #4c2a85;
    transition: text-shadow 0.5s ease-in-out;
    color:#FFF;
}

#td-1 {
    border-radius: 0 15px 0 0;

}

#th-last {
    border-radius: 0 0 15px 0;
    padding: 5px;
}

#th-last:hover {
    background-color:rgba(142, 171, 222,0.5);
    border-color:rgb(71, 127, 226);
    border-radius: 0 0 15px 0;
    padding: 5px;
}

.table-companies{
    border-radius: 15px;
    border-color: #4c2a85;
    border-style: none;
    border-bottom: 2em;
    margin: auto;
}

#td-outside{
    background-color: rgba(0, 0, 0, 0);
}

/* FORMULARIOS */


.form{
    max-width: 100%;
    margin: 20px auto;
    background-color: #cd97ea70;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgb(141, 141, 227,0.9), rgb(168, 116, 205,0.9));
    font-family: Arial, sans-serif;
    border-radius: 15px;
    overflow: hidden;
}

.formColumn{
    display: inline;
}

.evenColumns{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}



/* MODAL */

.modal {

    background: #cd97ea70;
    font-family: Arial, sans-serif;
    border-color: #4c2a85;
    border-radius: 15px;
    border-style: solid;
}

.div-modal {
    max-width: 100%;
    position: relative;
    background-color: #cd97ea00;
    padding: 20px;
    border-radius: 15px ;
}

.CloseSesion-modal{
    margin-left: 5%;
}

.CloseSesion{
    margin-left: 5%;

}

a {
    color: black; /* Default link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color:  #4c2a85; /* Default link color */
}

.tableText {
    display: None;
}

.tableIcon:hover + .tableText {
    display: inline-block;
}

/*NAV BAR CRM*/

.info-bar{
    max-width: 32%;
    position: sticky;
    top: 1%;
    margin-top: 20%;
    margin: 20px auto;
    background-color: #cd97ea70;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    border-color: rgba(76, 42, 133,0.5);
    border-style: solid;
}

.info-bar button {
    display: inline-block;
}

.form-logout{
    padding: 10px;
    align-items: center;
    border:none;
    background:#00000000; 
    display:inline-block;
    box-shadow: none;
    margin: 0px;
    margin-left: 3%;
}

#inputSearch{
    display: inline;
    width: 100%;
    text-align: center;
}

#searchField{
    display: inline;
    background-color: #4c2a85;
    color: #FFF;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.search{
    display: grid;
    grid-template-columns: 1fr 2fr; /* Specify 3 columns with equal width */ 
    grid-gap: 10px; 
    display: inline;
    justify-content:space-evenly;
    padding: 10px;
}

#optionsNav{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Specify 3 columns with equal width */    
    grid-gap: 10px; 
    align-items: center;
}

/* POST BOOTSTRAP*/

.modalCompany{

}