body {
    background: linear-gradient(to bottom, #8d8de3, #a874cd);
    font-family: Arial, sans-serif;
}

form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #cd97ea70;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h1 {
    margin:20px, 40px;
    padding-left: 705px;
   
    color: #ffffff;


}

.titulo {
    align-items: center;
    position: relative;
    padding-left: 200px; 
    background-color: #ffffff;
    border-radius: 40%;

}

.fecha_cierre {
    margin: 10px;
}


input {
    background-color: #d092f250;
    border: none;
    color: rgb(255, 255, 255);
}

label{
    color: rgb(255, 255, 255,0.8);
    margin: 10px;
    display: block;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 200;
    
}

::placeholder { 
color: rgb(247, 245, 245, 0.8);
opacity: 1; 
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    align-items: center;
}

input[type="submit"] {
    background-color: #4c2a85;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #693bb2;
}

button {
    background-color: #4c2a85;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline;
}

button:hover {
    background-color: #693bb2;
}


/* Esto es de la segunda pagina, login, originalmente: */

.link-empresas {
    max-width: 80%;
    position: relative;
    margin-top: 20%;
    margin: 20px auto;
    background-color: #cd97ea90;
    padding: 20px;
    border-radius: 15px ;
}

.link {
    background-color: #4c2a85;
    color: #ffffff;
    padding: 15px;
    border-radius: 5%;
    display: inline;

}

.link:hover {
    background-color: #693bb2;
}

tr {
    background-color:#9ccbdc;
    border-color:#389ee0;
    margin-bottom: 10%;

}

tr:hover {
    background-color:rgba(142, 171, 222,0.5);
    border-color:rgb(71, 127, 226);
}

td {
    background-color:rgb(142, 171, 222);
    border-color:rgb(71, 127, 226);
    padding: 5px;

}

td:hover {
    background-color:rgba(142, 171, 222,0.5);
    border-color:rgb(71, 127, 226);
}

#th-1 {
    background-color:rgb(211, 230, 247);
    border-color:rgb(71, 127, 226);
    border-radius: 15px 0 0 15px;
    padding: 10%;
    width: 40%;
}

#th-1:hover {
    background-color:rgba(211, 230, 247,0.5);
    border-color:rgb(71, 127, 226);
}

#td-1 {
    border-radius: 0 15px 0 0;

}

th{
    padding: 5px;
}

#th-last {
    border-radius: 0 0 15px 0;
    padding: 5px;
}

.table-companies{
    border-radius: 15px;
    border-color: #4c2a85;
    border-style: none;
    border-bottom: 2em;
    margin: auto;
}


.modalFilters{

    background: linear-gradient(to bottom, rgba(141, 141, 227,0.9), rgba(168, 116, 205,0.9));
    font-family: Arial, sans-serif;
    border-color: #4c2a85;
    border-radius: 15px;
    border-style: solid;
    justify-content: flex-start;
}

.form{

    background: linear-gradient(to bottom, rgb(141, 141, 227,0.9), rgb(168, 116, 205,0.9));
    font-family: Arial, sans-serif;
    border-radius: 15px;
}

.info-bar{
    max-width: 52%;
    position: sticky;
    top: 1%;
    margin-top: 20%;
    margin: 20px auto;
    background-color: #cd97ea70;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    border-color: rgba(76, 42, 133,0.5);
    border-style: solid;
}

.info-bar button {
    display: inline-block;
}

.CloseSesion-modal{
    margin-left: 5%;
}

a {
    color: black; /* Default link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color:  #4c2a85; /* Default link color */
}